button {
  padding: 14px 28px;
  font-size: 18px;
}

button:hover {
  background-color: black;
  color: white;
}

th:nth-child(n) {
  background-color: black;
  color: white;
}

tr:nth-child(odd) {
  background-color: lightgrey;
}
